body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    line-height: 1.6;
    color: #333;
}

h1,h2,h3{
    margin-bottom: 0.5rem;
}

img{
    width: 100%;
    display: block;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.site-header
{
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 2rem;
    background-color: greenyellow;
    color: black;
}

.logo{
    font-size: 1.5rem;
    font-weight: 900;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 0.05rem;
}

.nav-links a{
    
    text-decoration: underline;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.hero{
    text-align: center;
    padding: 5rem 2rem;
    background-color: yellow;
    color: black;
}


.destinations {
    text-align: center;
    margin-bottom: 2rem;
    background-color: pink;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 5rem;
    padding: 2rem;
    
}

.card{
    background-color: lightblue;
    padding: 1.5rem;
    border-radius: 8px;
}
.paris-section{
    display: none;
}

.paris-section:target{
    display: block;
}

.tokyo-section{
    display: none;
}

.tokyo-section:target{
    display: block;
}

.bali-section{
    display: none;
}

.bali-section:target{
    display: block;
}

.hyderabad-section{
    display: none;
}

.hyderabad-section:target{
    display: block;
}
